
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

body {
    font-family: Arial, sans-serif;
    background-color: grey;
}

header {
    padding: 20px;
    background-color: black;
    border-bottom: 1px solid #ccc;
}

.logo img {
    width: 120px;
}

.search-bar input{
    width: 360px;
    height: 30px;
}

.search-bar button{
    height: 30px;
    width: 30px;
}

nav button {
    padding: 10px 20px;
    background-color: red;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10px;
}

.main-content {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.game-container {
    flex: 2;
    text-align: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
}

.game-container h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
}

.game-container img {
    max-width: 100%;
    height: auto;
}

.play {
    font-size: 33px;
    color: #fff;
    display: flex;
    padding: 10px;
}

.play > a {
    display: block;
    padding: 0 10px;
    height: 40px;
    background-color: #fff;
    border-radius: 10px; 
}

.ads {
    margin-top: 100px;
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.ads img {
    max-width: 50%;
    height: auto;
    border-radius: 10px;
    margin-left: 20px;
}
.ads a {
    text-decoration: none;
    color: black;
    font-size: 1em;
    margin-left: 20px;
}

/* Phần trò chơi liên quan */
.related-games {
    padding: 20px;
    background-color: black;
    margin: 20px 0;
    border-radius: 10px;
}

.related-games h2 {
    margin-bottom: 20px;
    font-size: 1.5em;
}

.game-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 20px;
}

.game-grid img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    cursor: pointer;
    transition: transform 0.2s ease;
}

.game-grid img:hover {
    transform: scale(1.05);
}

.row-6 {
    background-color: #080707;
    display: flex;
    justify-content: space-around;
}

.for-1 h1 {
    padding-top: 10px;
    color: white;
    font-size: 30px;
    padding-bottom: 30px;
}

ul.row-7 {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

ul.row-7 > li {
    max-width: 200px;
    padding: 10px 0;
}

ul.row-7 > li > a {
    text-decoration: none;
    color: white;
    font-size: 16px;
}

ul.row-7 > li > a:hover {
    color: lightgreen;
}

@media screen and (max-width: 1600px) {
    div.item-1 {
        width: 32%;
    }
}

@media screen and (max-width: 1200px) {
    div.item-1 {
        width: 49%;
    }
}
